# used for pipe outline rendering
#public net.minecraft.client.renderer.LevelRenderer renderShape(Lcom/mojang/blaze3d/vertex/PoseStack;Lcom/mojang/blaze3d/vertex/VertexConsumer;Lnet/minecraft/world/phys/shapes/VoxelShape;DDDFFFF)V

# fluid slot rendering
#public-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen renderSlot(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/inventory/Slot;)V

# access server resource manager
#public net.minecraft.server.MinecraftServer$ReloadableResources

# access game test info
#public net.minecraft.gametest.framework.GameTestHelper testInfo

public net.minecraft.client.gui.GuiGraphics innerBlit(Lcom/mojang/blaze3d/pipeline/RenderPipeline;Lnet/minecraft/resources/Identifier;IIIIFFFFI)V
